<section>
    
    <div class="row justify-content-md-left">
    
        <div class="col-md-auto">
            <h2>Acerca de</h2>
            <!-- <p>Desarrolladora Web Full Stack. Estudiante de Licenciatura en Sistemas de Información</p> -->
            <p>{{persona.descripcion}}</p>
        </div>
        <div class="col-md-auto">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal" *ngIf="isLogged" (click)="cargarForm()">
                <i class="bi bi-pencil-fill"></i>
            </button>
  
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Editar "Acerca de..."</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form [formGroup]="form" (ngSubmit)="onEditar($event)">
                                <textarea type="text" class="form-control" formControlName="descripcion"
                                 id="descripcion" name="descripcion" required
                                [ngClass]="{'is-invalid': Descripcion?.errors  && Descripcion?.touched, 'is-valid': !Descripcion?.errors  && Descripcion?.touched}">
                                </textarea>
                                <div *ngIf="Descripcion?.errors  && Descripcion?.touched">    
                                    <p class="text-danger">
                                        El campo no debe estar vacío
                                    </p>
                                </div>
                                
                                <div class="modal-footer">
                                    <button class="btn btn-primary" data-bs-dismiss="modal" [disabled]="form.invalid">Guardar</button>
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="form.reset()">Close</button>
                                </div>
                            </form>
                        </div>
                        
                    </div>
                </div>
            </div>

            
        </div>

    </div>

</section>