<section>
  <div class="row justify-content-md-left">
    <div class="col-md-auto">
      <h2>Educación</h2>
    
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#newEducModal" *ngIf="isLogged"
        (click)="formEdit.reset()">
        <i class="bi bi-plus-lg"></i>
      </button>

      <!-- Modal -->
      <div class="modal fade" id="newEducModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Agregar Educación</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form [formGroup]="formEdit" (ngSubmit)="onAgregar($event)">
                <label>Institución</label>
                <input type="text" class="form-control" formControlName="escuela" id="escuela" name="escuela" required
                  [ngClass]="{'is-invalid': Escuela?.errors  && Escuela?.touched, 'is-valid': !Escuela?.errors  && Escuela?.touched}">
                <div *ngIf="Escuela?.errors  && Escuela?.touched">
                  <p class="text-danger">
                    El campo es obligatorio
                  </p>
                </div>
      
                <label>Título</label>
                <input type="text" class="form-control" formControlName="titulo" id="titulo" name="titulo" required
                  [ngClass]="{'is-invalid': Titulo?.errors  && Titulo?.touched, 'is-valid': !Titulo?.errors  && Titulo?.touched}">
                <div *ngIf="Titulo?.errors  && Titulo?.touched">
                  <p class="text-danger">
                    El campo es obligatorio
                  </p>
                </div>
      
                <label>Carrera</label>
                <input type="text" class="form-control" formControlName="carrera" id="carrera" name="carrera" required
                  [ngClass]="{'is-invalid': Carrera?.errors  && Carrera?.touched, 'is-valid': !Carrera?.errors  && Carrera?.touched}">
                <div *ngIf="Carrera?.errors  && Carrera?.touched">
                  <p class="text-danger">
                    El campo es obligatorio
                  </p>
                </div>
      
                <label>Año de inicio</label>
                <input type="number" class="form-control" formControlName="anio_inicio" id="anioInicio" name="anioInicio"
                  required
                  [ngClass]="{'is-invalid': Anio_inicio?.errors  && Anio_inicio?.touched, 'is-valid': !Anio_inicio?.errors  && Anio_inicio?.touched}">
                <div *ngIf="Anio_inicio?.errors  && Anio_inicio?.touched">
                  <p *ngIf="Anio_inicio?.hasError('required')" class="text-danger">
                    El campo es obligatorio
                  </p>
                  <p *ngIf="Anio_inicio?.hasError('min') || Anio_inicio?.hasError('max')" class="text-danger">
                    El año no es válido.
                  </p>
                </div>
      
      
                <label>Año de finalización (Opcional)</label>
                <input type="number" class="form-control" formControlName="anio_fin" id="anioFin" name="anioFin"
                  [ngClass]="{'is-invalid': Anio_fin?.errors  && Anio_fin?.touched, 'is-valid': !Anio_fin?.errors  && Anio_fin?.touched}">
                <div *ngIf="Anio_fin?.errors  && Anio_fin?.touched">
                  <p class="text-danger">
                    El año no es válido.
                  </p>
                </div>
      
      
                <label>URL de imagen</label>
                <textarea type="text" class="form-control" formControlName="url_imagen" id="urlImg" name="urlImg" required
                  [ngClass]="{'is-invalid': Url_imagen?.errors  && Url_imagen?.touched, 'is-valid': !Url_imagen?.errors  && Url_imagen?.touched}">
                            </textarea>
                <div *ngIf="Url_imagen?.errors  && Url_imagen?.touched">
                  <p class="text-danger">
                    El campo es obligatorio
                  </p>
                </div>
      
      
                <div class="modal-footer">
                  <button class="btn btn-primary" data-bs-dismiss="modal" [disabled]="formEdit.invalid">Guardar</button>
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                    (click)="formEdit.reset()">Cerrar</button>
                </div>
              </form>
            </div>
      
          </div>
        </div>
      </div>
      
  </div>
</div>

    <div *ngFor= "let educ of educaciones" let i = index>
        <div class="card mb-3">
            <div class="row g-0">
              <div class="col-md-2">
                <img src={{educ.url_imagen}} class="img-fluid" alt="Imagen" id="educacion">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{educ.escuela}}</h5>
                    <p class="card-text"><span>{{educ.titulo}} - {{educ.carrera}}</span></p>
                    <p class="card-text"><small class="text-muted"> <span>{{educ.anio_inicio}} - {{educ.anio_fin}}</span><span *ngIf="educ.anio_fin==null">En curso</span></small></p>

                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#educModal" (click)="buscarEducacion(educ.id!)" *ngIf="isLogged">
                      <i class="bi bi-pencil-fill"></i>
                    </button>
      
                    <!-- Modal -->
                    <div class="modal fade" id="educModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Editar "Educación"</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                            <form [formGroup]="formEdit" (ngSubmit)="onEditar($event)">
                              <label>Institución</label>
                              <input type="text" class="form-control" formControlName="escuela" id="escuela" name="escuela" required
                                [ngClass]="{'is-invalid': Escuela?.errors  && Escuela?.touched, 'is-valid': !Escuela?.errors  && Escuela?.touched}">
                              <div *ngIf="Escuela?.errors  && Escuela?.touched">
                                <p class="text-danger">
                                  El campo es obligatorio
                                </p>
                              </div>
                    
                              <label>Título</label>
                              <input type="text" class="form-control" formControlName="titulo" id="titulo" name="titulo" required
                                [ngClass]="{'is-invalid': Titulo?.errors  && Titulo?.touched, 'is-valid': !Titulo?.errors  && Titulo?.touched}">
                              <div *ngIf="Titulo?.errors  && Titulo?.touched">
                                <p class="text-danger">
                                  El campo es obligatorio
                                </p>
                              </div>
                    
                              <label>Carrera</label>
                              <input type="text" class="form-control" formControlName="carrera" id="carrera" name="carrera" required
                                [ngClass]="{'is-invalid': Carrera?.errors  && Carrera?.touched, 'is-valid': !Carrera?.errors  && Carrera?.touched}">
                              <div *ngIf="Carrera?.errors  && Carrera?.touched">
                                <p class="text-danger">
                                  El campo es obligatorio
                                </p>
                              </div>
                    
                              <label>Año de inicio</label>
                              <input type="number" class="form-control" formControlName="anio_inicio" id="anioInicio" name="anioInicio"
                                required
                                [ngClass]="{'is-invalid': Anio_inicio?.errors  && Anio_inicio?.touched, 'is-valid': !Anio_inicio?.errors  && Anio_inicio?.touched}">
                              <div *ngIf="Anio_inicio?.errors  && Anio_inicio?.touched">
                                <p *ngIf="Anio_inicio?.hasError('required')" class="text-danger">
                                  El campo es obligatorio
                                </p>
                                <p *ngIf="Anio_inicio?.hasError('min') || Anio_inicio?.hasError('max')" class="text-danger">
                                  El año no es válido.
                                </p>
                              </div>
                    
                    
                              <label>Año de finalización (Opcional)</label>
                              <input type="number" class="form-control" formControlName="anio_fin" id="anioFin" name="anioFin"
                                [ngClass]="{'is-invalid': Anio_fin?.errors  && Anio_fin?.touched, 'is-valid': !Anio_fin?.errors  && Anio_fin?.touched}">
                              <div *ngIf="Anio_fin?.errors  && Anio_fin?.touched">
                                <p class="text-danger">
                                  El año no es válido.
                                </p>
                              </div>
                    
                    
                              <label>URL de imagen</label>
                              <textarea type="text" class="form-control" formControlName="url_imagen" id="urlImg" name="urlImg" required
                                [ngClass]="{'is-invalid': Url_imagen?.errors  && Url_imagen?.touched, 'is-valid': !Url_imagen?.errors  && Url_imagen?.touched}">
                                                                  </textarea>
                              <div *ngIf="Url_imagen?.errors  && Url_imagen?.touched">
                                <p class="text-danger">
                                  El campo es obligatorio
                                </p>
                              </div>
                    
                              <div class="modal-footer">
                                <button class="btn btn-primary" data-bs-dismiss="modal" [disabled]="formEdit.invalid">Guardar</button>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="formEdit.reset()">Cerrar</button>
                              </div>
                            </form>
                          </div>    
                        </div>
                      </div>
                    </div>

                    <button type="button" class="btn btn-secondary" (click)="borrar(educ.id || 0)" *ngIf="isLogged">
                      <i class="bi bi-trash3-fill"></i>
                    </button> 
                </div>
              </div>
            </div>
        </div>
    </div>
</section>
   