<section>
  <div class="row justify-content-md-left">
    <div class="col-md-auto">
      <h2>Educación</h2>
            <!-- <h4>Universidad Nacional del Nordeste - Facultad de Cs. Exactas Naturales y Agrimensura</h4>
            <span>Licenciatura en Sistemas de Información</span> <br>
            <span>2010 - Actualidad</span> -->
    </div>
    <div class="col-md-auto">
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#newEducModal">
        <i class="bi bi-plus-lg"></i>
      </button>
    </div>
  </div>
<!-- Modal -->
<div class="modal fade" id="newEducModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Agregar Educación</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <form (ngSubmit)="onAgregar()">
                  <label>Institución</label>
                  <input type="text" class="form-control" id="escuela" name="escuela" [(ngModel)] = "escuela" required>
                  <label>Título</label>
                  <input type="text" class="form-control" id="titulo" name="titulo" [(ngModel)] = "titulo" required>
                  <label>Carrera</label>
                  <input type="text" class="form-control" id="carrera" name="carrera" [(ngModel)] = "carrera" required>
                  <label>Año de inicio</label>
                  <input type="text" class="form-control" id="anioInicio" name="anioInicio" [(ngModel)] = "anioInicio" required>
                  <label>Año de finalización</label>
                  <input type="text" class="form-control" id="anioFin" name="anioFin" [(ngModel)] = "anioFin" required>
                  <label>URL de imagen</label>
                  <textarea type="text" class="form-control" id="urlImg" name="urlImg" [(ngModel)] = "urlImg" required></textarea>
                  <div class="modal-footer">
                      <button class="btn btn-primary" data-bs-dismiss="modal">Guardar</button>
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                  </div>
              </form>
          </div>
          
      </div>
  </div>
</div>
    
    <div *ngFor= "let educ of educaciones" let i = index>
        <div class="card mb-3">
            <div class="row g-0">
              <div class="col-md-2">
                <img src={{educ.url_imagen}} class="img-fluid" alt="Imagen" id="educacion">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{educ.escuela}}</h5>
                    <p class="card-text"><span>{{educ.titulo}} - {{educ.carrera}}</span></p>
                    <p class="card-text"><small class="text-muted"> <span>{{educ.anio_inicio}} - {{educ.anio_fin}}</span></small></p>

                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#educModal" (click)="buscarEducacion(educ.id!)">
                      <i class="bi bi-pencil-fill"></i>
                    </button>
      
                    <!-- Modal -->
                    <div class="modal fade" id="educModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Editar "Educación"</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                            <form (ngSubmit)="onEditar()">
                              <label>Institución</label>
                              <input type="text" class="form-control" id="escuela" name="escuela" [(ngModel)] = "educacion.escuela" required>
                              <label>Título</label>
                              <input type="text" class="form-control" id="titulo" name="titulo" [(ngModel)] = "educacion.titulo" required>
                              <label>Carrera</label>
                              <input type="text" class="form-control" id="carrera" name="carrera" [(ngModel)] = "educacion.carrera" required>
                              <label>Año de inicio</label>
                              <input type="text" class="form-control" id="anio_inicio" name="anio_inicio" [(ngModel)] = "educacion.anio_inicio" required>
                              <label>Año de finalización</label>
                              <input type="text" class="form-control" id="anio_fin" name="anio_fin" [(ngModel)] = "educacion.anio_fin" required>
                              <label>URL de imagen</label>
                              <textarea type="text" class="form-control" id="url_imagen" name="url_imagen" [(ngModel)] = "educacion.url_imagen" required></textarea>
                              <div class="modal-footer">
                                <button class="btn btn-primary" data-bs-dismiss="modal">Guardar</button>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                              </div>
                            </form>
                          </div>
                      
                        </div>
                      </div>
                    </div>

                    <button type="button" class="btn btn-secondary" (click)="borrar(educ.id || 0)">
                      <i class="bi bi-trash3-fill"></i>
                    </button> 

                </div>
              </div>
            </div>
        </div>
    </div>
</section>
   