<section>
   
        <h2>Proyectos</h2>
            <!-- <h4>Página web IPS Corrientes</h4>
            <p>Colaboración en el desarrollo del sitio web del Instituto de Previsión Social de la Provincia de Corrientes,
             utilizando HTML, CSS, Javascript y Laravel (framework PHP).
            </p> -->
        <div *ngFor= "let proy of proyectos" let i = index>
            <div class="row">
                <div class="col-10"> 
                    <h4>{{proy.nombre}}</h4>
                    <p>{{proy.descripcion}}</p>
                </div>
                <div class="col-2"> 
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#proyecModal" (click)="buscarProyecto(proy.id!)">
                        <i class="bi bi-pencil-fill"></i>
                    </button>
                     
                    <!-- Modal -->
                    <div class="modal fade" id="proyecModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Editar "Proyecto"</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form (ngSubmit)="onEditar()">
                                        <label>Nombre del Proyecto</label>
                                        <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)] = "proyecto.nombre" required>
                                        <label>Descripción</label>
                                        <textarea type="text" class="form-control" id="descripcion" name="descripcion" [(ngModel)] = "proyecto.descripcion" required></textarea>
                            
                                        <div class="modal-footer">
                                            <button class="btn btn-primary" data-bs-dismiss="modal">Guardar</button>
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                        </div>
                                    </form>
                                </div>                    
                            </div>
                        </div>
                    </div>
                  
                </div>
            </div> 
        </div>
       

</section>