<!-- Encabezado con banner y foto perfil -->

<header>


        <div class="row" id="cabecera">

            <div class="col-3">

                <img src="./assets/img/ArgProg3.png" class="img-fluid" alt="Logo Argentina Programa" id="logo">

            </div>

            <div class="col" id="redes">
        
                <a href="https://github.com/RocioFloresDuran" target="_blank"><i class="bi bi-github redes"></i></a>
           
                <a href="https://www.linkedin.com/in/roc%C3%ADo-flores-dur%C3%A1n-149083160" target="_blank"><i class="bi bi-linkedin redes"></i></a>

                <a href="https://instagram.com/rociofloresduran?igshid=YmMyMTA2M2Y=" target="_blank"><i class="bi bi-instagram redes"></i></a>

                <button class="btn btn-danger float-end" id="logout" (click)="onClick()" *ngIf="isLogged">Cerrar Sesión</button>

                <button class="btn btn-success float-end" id="login" routerLink="/iniciar-sesion"  *ngIf="!isLogged">Iniciar Sesión</button>
            </div>

        </div>

        <div class="row justify-content-end"  id="portada" style=" background-image: url({{persona.url_header}});">  
             
            <!-- Button trigger modal -->
            <div class="col-2" id="botonBanner">
                <button type="button" id="trigger"class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#modalBanner" *ngIf="isLogged">
                <i class="bi bi-pencil-fill"></i>
                </button>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="modalBanner" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                 <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Inserte URL de la imagen</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form (ngSubmit)="onEditar($event)">
                                <textarea type="text" class="form-control" id="url_header" name="url_header" [(ngModel)] = "persona.url_header" required></textarea>
                                <div class="modal-footer">
                                    <button class="btn btn-primary" data-bs-dismiss="modal">Guardar</button>
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="cargarPersona()">Cerrar</button>
                                </div>
                            </form>
                        </div>       
                    </div>
                </div>
            </div>    

        </div>
                       
        <div class="row" id="perfil">
            <div class="col-10">
                <img src= {{persona.url_foto}} class="img-fluid float-start" alt="Rocío Flores Durán" id="Rocio">
            </div>
                <!-- Button trigger modal -->
            <div class="col-2">
                <button type="button" id="trigger" class="btn btn-secondary float-end" data-bs-toggle="modal" data-bs-target="#modalPerfil" *ngIf="isLogged">
                    <i class="bi bi-pencil-fill"></i>
                </button>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="modalPerfil" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                 <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Inserte URL de la foto de perfil</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form (ngSubmit)="onEditar($event)">
                                <textarea type="text" class="form-control" id="url_foto" name="url_foto" [(ngModel)] = "persona.url_foto" required></textarea>
                                <div class="modal-footer">
                                    <button class="btn btn-primary" data-bs-dismiss="modal">Guardar</button>
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="cargarPersona()">Cerrar</button>
                                </div>
                            </form>
                        </div>       
                    </div>
                </div>
            </div> 

        </div>
               
        <div class="row justify-content-start" id="datosPersonales">
                
            <h2>{{persona.nombres}} {{persona.apellidos}}</h2>
                    
            <div class="col">
                {{persona.ocupacion}}
                    
                <!-- Button trigger modal -->
            
                <button type="button" id="trigger" class="btn btn-secondary float-center" data-bs-toggle="modal" data-bs-target="#modalDatosPersonales" *ngIf="isLogged" (click)="cargarForm()">
                    <i class="bi bi-pencil-fill"></i>
                </button>
            
                <br>
        
                {{persona.domicilio.localidad}} {{persona.domicilio.provincia}}
                    
            </div>

            <!-- Modal -->
            <div class="modal fade" id="modalDatosPersonales" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                   <div class="modal-content">
                       <div class="modal-header">
                           <h5 class="modal-title" id="exampleModalLabel">Editar Datos Personales</h5>
                           <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                       </div>
                       <div class="modal-body">

                           <form [formGroup]="form" (ngSubmit)="onEditar($event)">
                               <label>Ocupación</label>
                               <input type="text" class="form-control" formControlName="ocupacion"
                               id="ocupacion" name="ocupacion" required
                               [ngClass]="{'is-invalid': Ocupacion?.errors  && Ocupacion?.touched, 'is-valid': !Ocupacion?.errors  && Ocupacion?.touched}">
                               <div *ngIf="Ocupacion?.errors  && Ocupacion?.touched">    
                                <p class="text-danger">
                                    El campo es obligatorio
                                </p>
                                </div>

                               <label>Provincia</label>
                               <input type="text" class="form-control" formControlName="provincia"
                               id="domicilio.provincia" name="domicilio.provincia" required
                               [ngClass]="{'is-invalid': Provincia?.errors  && Provincia?.touched, 'is-valid': !Provincia?.errors  && Provincia?.touched}">
                               <div *ngIf="Provincia?.errors  && Provincia?.touched">    
                                <p class="text-danger">
                                    El campo es obligatorio
                                </p>
                                </div>

                               <label>Localidad</label>
                               <input type="text" class="form-control" formControlName="localidad"
                               id="domicilio.localidad" name="domicilio.localidad" required
                               [ngClass]="{'is-invalid': Localidad?.errors  && Localidad?.touched, 'is-valid': !Localidad?.errors  && Localidad?.touched}">
                               <div *ngIf="Localidad?.errors  && Localidad?.touched">    
                                <p class="text-danger">
                                    El campo es obligatorio
                                </p>
                                </div>

                               <div class="modal-footer">
                                   <button class="btn btn-primary" data-bs-dismiss="modal" [disabled]="form.invalid">Guardar</button>
                                   <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="form.reset()">Cerrar</button>
                               </div>
                           </form>
                           
                       </div>       
                   </div>
               </div>
           </div>

        </div>

</header>

