<!-- Encabezado con banner y foto perfil -->

<header>

    <div class="container">

        <div class="row" id="cabecera">
        
        <div class="col">

            <img src="./assets/img/ArgProg3.png" class="" alt="Logo Argentina Programa" id="logo">

       
            <img src="./assets/img/icons8-facebook-48.png" class="redes float-end" alt="">
           
            <img src="./assets/img/icons8-instagram-48.png" class="redes float-end" alt="">
         
            <img src="./assets/img/icons8-linkedin-48.png" class="redes float-end" alt="">

        </div>

        </div>

        <div class="row" id="portada">
                <img src="./assets/img/banner.png" class="img-fluid" alt="banner" id="banner">
        </div>
                       
        <div class="row" id="perfil">
                <img src="./assets/img/Yo.jpg" class="img-fluid float-start" alt="Rocío Flores Durán" id="Rocio">
        </div>
               
        <div class="row">
                <section>
                    <h2>Rocío Flores Durán</h2>
                    <p>
                        Estudiante en UNNE
                    <br>
                        Corrientes (Argentina)
                    </p>
                </section>
        </div>

    </div>

</header>

