<section>
  <div class="row justify-content-md-left">
    <div class="col-md-auto">
      <h2>Experiencia</h2>
    </div>
    <div class="col-md-auto">
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#newExpModal"  *ngIf="isLogged" (click)="formEdit.reset()">
        <i class="bi bi-plus-lg"></i>
      </button>
    </div>
  </div>
<!-- Modal -->
<div class="modal fade" id="newExpModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Agregar Experiencia</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <form [formGroup]="formEdit" (ngSubmit)="onAgregar($event)">
                  <label>Institución</label>
                  <input type="text" class="form-control" formControlName="nombre_org" id="nombreOrg" name="nombreOrg" required
                    [ngClass]="{'is-invalid': Nombre_org?.errors  && Nombre_org?.touched, 'is-valid': !Nombre_org?.errors  && Nombre_org?.touched}">
                  <div *ngIf="Nombre_org?.errors  && Nombre_org?.touched">
                    <p class="text-danger">
                      El campo es obligatorio
                    </p>
                  </div>
                   
                  <label>Área/Cargo</label>
                  <input type="text" class="form-control" formControlName="area_cargo" id="areaCargo" name="areaCargo" required
                    [ngClass]="{'is-invalid': Area_cargo?.errors  && Area_cargo?.touched, 'is-valid': !Area_cargo?.errors  && Area_cargo?.touched}">
                  <div *ngIf="Area_cargo?.errors  && Area_cargo?.touched">
                    <p class="text-danger">
                      El campo es obligatorio
                    </p>
                  </div>

                  <label>Año de inicio</label>
                  <input type="number" class="form-control" formControlName="anio_inicio" id="anioInicio" name="anioInicio" required
                    [ngClass]="{'is-invalid': Anio_inicio?.errors  && Anio_inicio?.touched, 'is-valid': !Anio_inicio?.errors  && Anio_inicio?.touched}">
                  <div *ngIf="Anio_inicio?.errors  && Anio_inicio?.touched">
                    <p *ngIf="Anio_inicio?.hasError('required')" class="text-danger">
                      El campo es obligatorio
                    </p>
                    <p *ngIf="Anio_inicio?.hasError('min') || Anio_inicio?.hasError('max')" class="text-danger">
                      El año no es válido.
                    </p>
                  </div>

                  <label>Año de finalización (Opcional)</label>
                  <input type="number" class="form-control" formControlName="anio_fin" id="anioFin" name="anioFin"
                    [ngClass]="{'is-invalid': Anio_fin?.errors  && Anio_fin?.touched, 'is-valid': !Anio_fin?.errors  && Anio_fin?.touched}">
                  <div *ngIf="Anio_fin?.errors  && Anio_fin?.touched">
                    <p class="text-danger">
                      El año no es válido.
                    </p>
                  </div>

                  <label>URL de imagen</label>
                  <textarea type="text" class="form-control" formControlName="url_imagen" id="urlImg" name="urlImg" required
                    [ngClass]="{'is-invalid': Url_imagen?.errors  && Url_imagen?.touched, 'is-valid': !Url_imagen?.errors  && Url_imagen?.touched}">
                  </textarea>
                  <div *ngIf="Url_imagen?.errors  && Url_imagen?.touched">
                    <p class="text-danger">
                      El campo es obligatorio
                    </p>
                  </div>

                  <div class="modal-footer">
                      <button class="btn btn-primary" data-bs-dismiss="modal" [disabled]="formEdit.invalid">Guardar</button>
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="formEdit.reset()">Cerrar</button>
                  </div>
              </form>
          </div>
          
      </div>
  </div>
</div>
           
  <div *ngFor= "let exp of experiencias" let i = index>
    <div class="card mb-3">
      <div class="row g-0">
        <div class="col-md-2">
          <img src={{exp.url_imagen}} class="img-fluid" alt="Imagen" id="experiencia">
        </div>
        <div class="col-md-8">
          <div class="card-body">
              <h5 class="card-title">{{exp.nombre_org}}</h5>
              <p class="card-text"><span>{{exp.area_cargo}}</span></p>
              <p class="card-text"><small class="text-muted"> <span>{{exp.anio_inicio}} - {{exp.anio_fin}}</span></small></p>
              
              <!-- Button trigger modal -->
              <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#expModal" (click)="buscarExperiencia(exp.id || 0)" *ngIf="isLogged">
                  <i class="bi bi-pencil-fill"></i>
              </button>
        
              <!-- Modal -->
              <div class="modal fade" id="expModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Editar "Experiencia"</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
              
                      <form [formGroup]="formEdit" (ngSubmit)="onEditar($event)">
                        <label>Institución</label>
                        <input type="text" class="form-control" formControlName="nombre_org" id="nombre_org" name="nombre_org"
                          required
                          [ngClass]="{'is-invalid': Nombre_org?.errors  && Nombre_org?.touched, 'is-valid': !Nombre_org?.errors  && Nombre_org?.touched}">
                        <div *ngIf="Nombre_org?.errors  && Nombre_org?.touched">
                          <p class="text-danger">
                            El campo es obligatorio
                          </p>
                        </div>
              
                        <label>Área/Cargo</label>
                        <input type="text" class="form-control" formControlName="area_cargo" id="area_cargo" name="area_cargo"
                          required
                          [ngClass]="{'is-invalid': Area_cargo?.errors  && Area_cargo?.touched, 'is-valid': !Area_cargo?.errors  && Area_cargo?.touched}">
                        <div *ngIf="Area_cargo?.errors  && Area_cargo?.touched">
                          <p class="text-danger">
                            El campo es obligatorio
                          </p>
                        </div>
              
                        <label>Año de inicio</label>
                        <input type="number" class="form-control" formControlName="anio_inicio" id="anio_inicio" name="anio_inicio"
                          required
                          [ngClass]="{'is-invalid': Anio_inicio?.errors  && Anio_inicio?.touched, 'is-valid': !Anio_inicio?.errors  && Anio_inicio?.touched}">
                        <div *ngIf="Anio_inicio?.errors  && Anio_inicio?.touched">
                          <p *ngIf="Anio_inicio?.hasError('required')" class="text-danger">
                            El campo es obligatorio
                          </p>
                          <p *ngIf="Anio_inicio?.hasError('min') || Anio_inicio?.hasError('max')" class="text-danger">
                            El año no es válido.
                          </p>
                        </div>
              
                        <label>Año de finalización (Opcional)</label>
                        <input type="number" class="form-control" formControlName="anio_fin" id="anio_fin" name="anio_fin"
                          [ngClass]="{'is-invalid': Anio_fin?.errors  && Anio_fin?.touched, 'is-valid': !Anio_fin?.errors  && Anio_fin?.touched}">
                        <div *ngIf="Anio_fin?.errors  && Anio_fin?.touched">
                          <p class="text-danger">
                            El año no es válido.
                          </p>
                        </div>
              
                        <label>URL de imagen</label>
                        <textarea type="text" class="form-control" formControlName="url_imagen" id="url_imagen" name="url_imagen"
                          required
                          [ngClass]="{'is-invalid': Url_imagen?.errors  && Url_imagen?.touched, 'is-valid': !Url_imagen?.errors  && Url_imagen?.touched}">
                                              </textarea>
                        <div *ngIf="Url_imagen?.errors  && Url_imagen?.touched">
                          <p class="text-danger">
                            El campo es obligatorio
                          </p>
                        </div>
              
                        <div class="modal-footer">
                          <button class="btn btn-primary" data-bs-dismiss="modal" [disabled]="formEdit.invalid">Guardar</button>
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="formEdit.reset()">Cerrar</button>
                        </div>
                      </form>
                    </div>
              
                  </div>
                </div>
              </div>

              <button type="button" class="btn btn-secondary" (click)="borrar(exp.id || 0)" *ngIf="isLogged">
                <i class="bi bi-trash3-fill"></i>
              </button> 
          </div>
        </div>
      </div>
    </div>
  </div>
</section>