<section>
  <div class="row justify-content-md-left">
    <div class="col-md-auto">
      <h2>Hard & Soft Skills</h2>
    </div>
    <div class="col-md-auto">
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#newAptModal" *ngIf="isLogged">
        <i class="bi bi-plus-lg"></i>
      </button>
    </div>
  </div>
<!-- Modal -->
<div class="modal fade" id="newAptModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Agregar Aptitud</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <form (ngSubmit)="onAgregar()">
                  <label>Nombre Aptitud</label>
                  <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)] = "nombre" required>
                  <label>Porcentaje</label>
                  <input type="text" class="form-control" id="porcentaje" name="porcentaje" [(ngModel)] = "porcentaje" required>
                  <div class="modal-footer">
                      <button class="btn btn-primary" data-bs-dismiss="modal">Guardar</button>
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                  </div>
              </form>
          </div>
          
      </div>
  </div>
</div>

  <div class="row">
             
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" *ngFor= "let apt of aptitudes" let i = index>
                
      <div class="section-content">
        <div class="progress-content">
                    
          <label>{{apt.nombre}}</label>
          <span class="rating-count pull-right"> {{apt.porcentaje}}%</span>

          <button type="button" class="btn btn-secondary float-end" (click)="borrar(apt.id || 0)" *ngIf="isLogged">
            <i class="bi bi-trash3-fill"></i>
          </button> 
          
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-secondary float-end" data-bs-toggle="modal" data-bs-target="#aptModal" (click)="buscarAptitud(apt.id!)" *ngIf="isLogged">
            <i class="bi bi-pencil-fill"></i>
          </button>

          <div class="skill-progress">
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="[target]=apt.porcentaje" aria-valuemin="0" aria-valuemax="100" [ngStyle]="{'width.%': apt.porcentaje}" >
              </div>
            </div>
          </div>
     
        </div>

        <!-- Modal -->
        <div class="modal fade" id="aptModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Editar "Skill"</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form (ngSubmit)="onEditar()">
                  <label>Nombre de Skill</label>
                  <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)] = "aptitud.nombre" required>
                  <label>Porcentaje</label>
                  <input type="text" class="form-control" id="porcentaje" name="porcentaje" [(ngModel)] = "aptitud.porcentaje" required>
                  <div class="modal-footer">
                    <button class="btn btn-primary" data-bs-dismiss="modal">Guardar</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>

</section>
    
