<section>
  <div class="row justify-content-md-left">
    <div class="col-md-auto">
      <h2>Hard & Soft Skills</h2>
    
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#newAptModal" *ngIf="isLogged" (click)="formEdit.reset()">
        <i class="bi bi-plus-lg"></i>
      </button>

      <!-- Modal -->
      <div class="modal fade" id="newAptModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Agregar Aptitud</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form [formGroup]="formEdit" (ngSubmit)="onAgregar($event)">
                <label>Nombre de Skill</label>
                <input type="text" class="form-control" formControlName="nombre" id="nombre" name="nombre" required
                  [ngClass]="{'is-invalid': Nombre?.errors  && Nombre?.touched, 'is-valid': !Nombre?.errors  && Nombre?.touched}">
                <div *ngIf="Nombre?.errors  && Nombre?.touched">
                  <p class="text-danger">
                    El campo es obligatorio
                  </p>
                </div>
      
                <label>Porcentaje</label>
                <input type="number" class="form-control" formControlName="porcentaje" id="porcentaje" name="porcentaje"
                  required
                  [ngClass]="{'is-invalid': Porcentaje?.errors  && Porcentaje?.touched, 'is-valid': !Porcentaje?.errors  && Porcentaje?.touched}">
                <div *ngIf="Porcentaje?.errors  && Porcentaje?.touched">
                  <p *ngIf="Porcentaje?.hasError('required')" class="text-danger">
                    El campo es obligatorio
                  </p>
                  <p *ngIf="Porcentaje?.hasError('min') || Porcentaje?.hasError('max')" class="text-danger">
                    El porcentaje no es válido.
                  </p>
                </div>
      
                <div class="modal-footer">
                  <button class="btn btn-primary" data-bs-dismiss="modal" [disabled]="formEdit.invalid">Guardar</button>
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                    (click)="formEdit.reset()">Cerrar</button>
                </div>
              </form>
            </div>
      
          </div>
        </div>
      </div>

    </div>
  </div>

  <br>

  <div class="row">
             
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" *ngFor= "let apt of aptitudes" let i = index>
                
      <div class="section-content">
        <div class="progress-content">
                    
          <label>{{apt.nombre}}</label>
          <span class="rating-count pull-right"> {{apt.porcentaje}}%</span>

          <button type="button" class="btn btn-secondary float-end" (click)="borrar(apt.id || 0)" *ngIf="isLogged">
            <i class="bi bi-trash3-fill"></i>
          </button> 
          
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-secondary float-end" data-bs-toggle="modal" data-bs-target="#aptModal" (click)="buscarAptitud(apt.id!)" *ngIf="isLogged">
            <i class="bi bi-pencil-fill"></i>
          </button>

          <div class="skill-progress">
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="[target]=apt.porcentaje" aria-valuemin="0" aria-valuemax="100" [ngStyle]="{'width.%': apt.porcentaje}" >
              </div>
            </div>
          </div>
     
        </div>

        <!-- Modal -->
        <div class="modal fade" id="aptModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Editar "Skill"</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form [formGroup]="formEdit" (ngSubmit)="onEditar($event)">
                  <label>Nombre de Skill</label>
                  <input type="text" class="form-control" formControlName="nombre" id="nombre" name="nombre"required
                  [ngClass]="{'is-invalid': Nombre?.errors  && Nombre?.touched, 'is-valid': !Nombre?.errors  && Nombre?.touched}">
                  <div *ngIf="Nombre?.errors  && Nombre?.touched">
                    <p class="text-danger">
                      El campo es obligatorio
                    </p>
                  </div>

                  <label>Porcentaje</label>
                  <input type="number" class="form-control" formControlName="porcentaje" id="porcentaje" name="porcentaje" required
                  [ngClass]="{'is-invalid': Porcentaje?.errors  && Porcentaje?.touched, 'is-valid': !Porcentaje?.errors  && Porcentaje?.touched}">
                  <div *ngIf="Porcentaje?.errors  && Porcentaje?.touched">
                    <p *ngIf="Porcentaje?.hasError('required')" class="text-danger">
                      El campo es obligatorio
                    </p>
                    <p *ngIf="Porcentaje?.hasError('min') || Porcentaje?.hasError('max')" class="text-danger">
                      El porcentaje no es válido.
                    </p>
                  </div>
                  <div class="modal-footer">
                    <button class="btn btn-primary" data-bs-dismiss="modal" [disabled]="formEdit.invalid">Guardar</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="formEdit.reset()">Cerrar</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>

</section>
    
